@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CONFIG PADRÃO */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    outline: 0;
}

:root {
    --blue-dnc: #0C70F2;
    --black-dnc: #303030;
    --silver: #C9C9C9;
    --font-default: 'Inter';
}

body{
    background: linear-gradient(#0C70F2, #303030);
}

button:hover {
    transform: translateY(-4px);
    transition-duration: 1s;
}

#navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: var(--black-dnc);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    #navegacao > button {
        background-color: var(--blue-dnc);
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }

#menu {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

    #menu li{
        list-style-type: none;
        text-decoration: none;
        color: white;
        font-size: 20px;
        text-shadow: 1px 1px#494b4e93;
    }

    #menu li:hover{
        color: var(--silver);
    }



#titleAndText-header {
    display: grid;
    grid-auto-flow: column 1fr;
}

    #titleAndText-header h1 {
        text-transform: uppercase;
        text-align: center;
        color: white;
        font-size: 55px;
        font-weight: 800;
        text-shadow: 2px 1px 0.5px #303030;
        margin-top: 5.5rem;
    }

    #titleAndText-header p {
        text-align: center;
        color: white;
        font-size: 35px;
        font-weight: 500;
        text-shadow: 1px 1px 0.5px #303030;
        margin-top: 30px;
    }

    .invert-text {
        background-color: black;
    }

#container-form {
    display: grid;
    grid-auto-flow: column 1fr;
    margin-top: 150px;
    justify-content: center;
}

    #container-form button {
        background-color: var(--blue-dnc);
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 22px;
        font-weight: 500;
        cursor: pointer;
        margin-top: 20px;
    }

    .div-form {
        display: flex;
        flex-direction: column;
        width: 40vw;
    }

    .div-form label {
        color: white;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 2px;
    }

    .div-form input{
        height: 35px;
        border: 0;
        border-radius: 5px;
        padding-left: 10px;
        font-size: 15px;
        margin-bottom: 10px;
    }
    
    .div-formCheck {
        color: white;
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    